BasedOnStyle:  LLVM
---
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakConstructorInitializersBeforeComma: true
IncludeBlocks: Regroup
Language: Cpp
IncludeCategories:
# medusa first
  - Regex: "medusa.hpp"
    Priority: -1
  - Regex: "medusa*"
    Priority: 1
QualifierAlignment: Right
